@charset "UTF-8";
/* CSS Document */
body {
	font-family: 'Muli', sans-serif;
	color: red;
	background-color: #fff;
	overflow: hidden;
	font-size: 9pt;
}
::-webkit-scrollbar { 
    display: none; 
}
.logo {
	z-index: 99;
	position: fixed;
	top: 20px;
	left: 20px;
	width: 150px;
	height: 73px;
	background-size: 150px;
	background-repeat: no-repeat;
	background-image: url('images/Logo.png');
}
.logo:hover {
	background-image: url('images/LogoAlt.png');
}
.preloadedImages
{
    width: 206px;
    height: 100px;
    display: none;
    background-image: url(images/LogoAlt.png);
}
.nav {
	text-align: right;
	width: 500px;
	height: 30px;
	position: fixed;
	top: 40px;
	right: 40px;
	display: inline-block;
	word-spacing: 30px;
}
.nav a:link, .nav a:visited {
	font-family: Muli 800;
	font-weight: bold;
	color: #e9232d;
	letter-spacing: 1px;
	font-size: 9pt;
}
.nav a:hover {
	color: #e9232d;
	text-decoration: none;
}
a:link, a:visited {
	color: #e9232d;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: none;
}
.caption {
	width: 90%;
	text-align: left;
	font-family: Muli 400;
	font-size: 9pt;
	color: #000;
	letter-spacing: .5pt;
	line-height: 30px;
	color: #000;
	white-space: normal;
}
#container .box {
-webkit-transform: translate3d(0,0,0);
	z-index: -1;
  height:100%;
  padding-top: 100px;
  display:inline-block;
  position:relative;
	top: -50px;
}
#container .box > div {
  font-size:96px;
  color:#FFF;
  position:absolute;
	margin: 50px;
}
#container {
	-webkit-transform: translate3d(0,0,0);
z-index: -1;
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  position:absolute;
  width:100vh;
  height:100vw;
}
#container2 {
	-webkit-transform: translate3d(0,0,0);
	z-index: -1;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
  font-size:0;
}
.about {
	font-family: Muli 400;
	letter-spacing: .5pt;
	line-height: 25px;
	position: absolute;
	top: 110px;
	left: 60px;
	color: #000;
	overflow: hidden;
	overflow-x: hidden;
	z-index: -1;
}
.aboutpic {
	z-index: -1;
	float: left;
	width: 338px;
	margin-right: 50px;
	overflow: hidden;
	overflow-x: hidden;
}
.abouttext {
	z-index: -1;
	float: left;
	width: 400px;
	margin-top: 35px;
	margin-bottom: 35px;
	overflow: hidden;
	overflow-x: hidden;
}

.five {
	width: 493px;
}
.four {
	width: 594px;
}
.three {
	width: 650px;
}
.two {
	width: 582px;
}
.one {
	width: 642px;
}
	
@media screen and (max-width: 740px) {
	.aboutpic img {
		max-width: 100%;
		padding-right: 50px;
		overflow-x: hidden;
	}
	.abouttext {
		width: 325px;
	}
	.caption2 {
	margin-right: -50px;
}
	.one, .two, .three, .four {
		width: 800px;
		height: auto;
	}
	body {
		overflow-y: scroll;
		overflow-x: hidden;
		width: 100%;
	}
	#container .box {
		float: right;
		display: block;
		height: auto;
		padding-top: 730px;
		max-width: 500px;
		width: 100%;
	}
	#container img {
		max-width: 114%;
	}
	#container {
		overflow: hidden;
		padding-right: 40px;
		width: 100%;
		margin-top: -630px;
		height: auto;
		transform: rotate(0deg) translateX(0%);
	}
	#container2 {
		overflow: hidden;
		align-content: center;
		transform: rotate(0deg) translateY(0vh);
		padding-bottom: 700px;
	}
}

@media screen and (max-width: 414px) {
	body {
		-webkit-text-size-adjust: none;
		overflow-x: hidden;
		width: 100%;
	}
	.about {
		overflow: hidden;
		width: 350px;
	}
	.about img {
		width: 70%;
		margin-right: 0px;
		padding: 0px;
		overflow: hidden;
	}
	.abouttext {
		width: 300px;
		overflow: hidden;
		padding-bottom: 75px;
	}
	#container .box {
		float: right;
		display: block;
		height: auto;
		padding-top: 460px;
		max-width: 100%;
		overflow: visible;
	}
	#container {
		margin-top: -360px;
		overflow: visible;
		display: inline;
		padding-bottom: 100px;
	}
	#container2 {
		overflow: visible;
		display: inline;
		padding-bottom: 350px;
	}
	.logo {
	z-index: 99;
	position: fixed;
	top: 20px;
	left: 20px;
	width: 100px;
	height: 49px;
	background-size: 100px;
	background-repeat: no-repeat;
	background-image: url('images/Logo.png');
}
	.logo:hover {
			z-index: 99;
	position: fixed;
	top: 20px;
	left: 20px;
	width: 100px;
	height: 49px;
	background-size: 100px;
	background-repeat: no-repeat;
	background-image: url('images/Logo.png');
	}
}
@media only screen and (max-width: 375px) {
	body, .caption {
		font-size: 7pt;
		width: 100%;
		overflow-x: hidden !important;
	}
	.about {
		overflow: hidden;
		width: 250px;
	}
	.about img {
		width: 60%;
		margin-right: 0px;
		padding: 0px;
		overflow: hidden;
	}
	.abouttext {
		width: 240px;
		overflow: hidden;
		padding-bottom: 75px;
	}
	#container {
		margin-bottom: 50px;
	}
}