@charset "UTF-8";
/* CSS Document */
body {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 30px;
	color: red;
	background-color: #fff;
	overflow: hidden;
}
a:hover {
	text-decoration: none;
}
.caption {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 9pt;
	color: black;
	letter-spacing: 1pt;
}
#container .box {
  height:100%;
  padding-top: 100px;
  display:inline-block;
  position:relative;
}
#container .box > div {
  font-size:96px;
  color:#FFF;
  position:absolute;
	margin: 50px;
}
#container {
margin-top: -100px;
	top: 50px;
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  position:absolute;
  width:100vh;
  height:100vw;
}
#container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
  font-size:0;
}

.one {
	width: 500px;
}
.two {
	width: 500px
}
.three {
	width: 500px;
}
.four {
	width: 500px;
}
	
@media only screen and (max-width: 1050px) {
	#container .box {
		float: right;
		display: block;
		height: 100%;
		padding-top: 600px;
		max-width: 80%;
	}
	#container img {
		max-width: 130%;
	}
	#container {
		padding-right: 200px;
		align-content: center;
		width: 100%;
		margin-top: -600px;
		height: 165%;
		transform: rotate(0deg) translateX(0%);
	}
	#container2 {
		align-content: center;
		transform: rotate(0deg) translateY(0vh);
	}
}


/* Translating the content's X ruines the scrollbar length. */
/*
#container {
  overflow:scroll;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
  background-color:#999;
  position:absolute;
  width:100vh;
  height:100vw;
}
#container2 {
  transform: rotate(-90deg) translateX(-100vw);
  transform-origin: top left;
  white-space:nowrap;
}
*/