@charset "UTF-8";
/* CSS Document */

body.home {
	font-family: helvetica;
	font-size: 9pt;
	line-height: 18px;
	color: #000;
	background-image: url(images/Background.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
}

body.gallery {
	font-family: helvetica;
	font-size: 9pt;
	line-height: 18px;
	color: #000;
	background-color: #fff;
	overflow: scroll;
}

b, i {
	letter-spacing: 1px;
}

.nav {
	font-family: helvetica;
	font-weight: regular;
	font-size: 18pt;
	line-height: 43px;
	letter-spacing: 1pt;
	text-transform: uppercase;
	text-decoration: none;
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 99;
	display: inline;
}

.nav a:link, .nav a:visited {
	background-image: url(images/Gradient-01.jpg);
	background-position: 0px;
	background-size: cover;
	border: 1px solid #000;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline;
}

.nav a:hover {
	background-image: url(images/Gradient.gif);
}

#links {
	position: absolute;
	top: 210px;
	left: 50px;
	background-color: white;
	border: 1px solid #000;
	width: 255px;
	height: 98px;
	font-size: 15pt;
	line-height: 30px;
	padding-left: 10px;
	padding-top: 7px;
	z-index: 98;
}

#contact {
	position: absolute;
	top: 125px;
	left: 180px;
	background-color: white;
	border: 1px solid #000;
	width: 260px;
	height: 35px;
	font-size: 15pt;
	line-height: 30px;
	padding-left: 12px;
	padding-top: 4px;
	z-index: 98;
}

.doubleborder {
	background-color: #fff;
	padding-left: 3px;
	padding-right: 3px;
	border: 1px solid #000;
	display: inline-block;
}

a:link, a:visited {
	color: #000;
	text-decoration: none;
}

.spiderweb {
	position: absolute;
	bottom: 15%;
	left: 250px;
}

.spiderweb img {
	max-height: 280px;
	width: auto;
}

#gallery {
    width: 100%;
    background: #fff;
    position: absolute;
    top: 100px;
    left: 0px;
	text-align: center;
	padding-bottom: 100px;
}

#gallery img {
	max-width: 500px;
	height: auto;
}

.preload {
	background: url('images/Gradient.gif') no-repeat -9999px -9999px;
}