@charset "UTF-8";
/* CSS Document */

body {
	font-family: helvetica;
	font-size: 9pt;
	line-height: 18px;
	color: #000;
	background-color: #fff;
}

b, i {
	letter-spacing: 1px;
}

.nav {
	font-family: helvetica;
	font-weight: regular;
	font-size: 20pt;
	letter-spacing: 1pt;
	text-transform: uppercase;
	text-decoration: none;
	position: fixed;
	top: 30px;
	left: 30px;
	z-index: 99;
	display: inline;
}

.nav a:link, .nav a:visited {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline;
	line-height: 40px;
}

.nav a:hover {
	color: #43948d;
}

.line a:link, .line a:visited {
	line-height: 30px;
}

.nav2 {
	font-family: helvetica;
	font-weight: regular;
	font-size: 13pt;
	letter-spacing: 1pt;
	text-transform: none;
	text-decoration: none;
	line-height: 10px;
}

#links {
	position: fixed;
	top: 315px;
	left: 100px;
	background-color: white;
	border: 1px solid #000;
	width: 255px;
	height: 126px;
	font-size: 15pt;
	line-height: 30px;
	padding-left: 10px;
	padding-top: 7px;
	z-index: 98;
}

#links a:hover {
	color: #43948d;
}

#contact {
	position: absolute;
	top: 125px;
	left: 180px;
	background-color: white;
	border: 1px solid #000;
	width: 260px;
	height: 35px;
	font-size: 15pt;
	line-height: 30px;
	padding-left: 12px;
	padding-top: 4px;
	z-index: 98;
}

.doubleborder {
	background-color: #fff;
	padding-left: 3px;
	padding-right: 3px;
	border: 1px solid #000;
	display: inline-block;
}

a:link, a:visited {
	color: #000;
	text-decoration: none;
}

.spiderweb {
	position: fixed;
	bottom: 30px;
	left: 30px;
}

.spiderweb img {
	max-height: 180px;
	width: auto;
}

#gallery {
    position: absolute;
    top: 35px;
    left: 350px;
	text-align: left;
	padding-bottom: 100px;
}

#gallery img {
	max-width: 1000px;
	height: auto;
	width: 90%;
}

#about {
    width: 100%;
    background: #fff;
    position: absolute;
    top: 100px;
    left: 275px;
	text-align: left;
	padding-bottom: 100px;
}

#about img {
	max-width: 350px;
	height: auto;
}

.contact {
	font-size: 14pt;
	line-height: 12px;
	padding-top: 8px;
}

h1 {
	line-height: 0px;
}